{
    auto_https off
    admin localhost:2019
}

(spa) {
    encode gzip

    handle / {
        rewrite * /{args[0]}/index.html
        reverse_proxy {args[1]} {
            header_up Host "{args[1]}"
        }
    }

    handle {
        rewrite * /{args[0]}{path}

        reverse_proxy {args[1]} {
            header_up Host "{args[1]}"

            @notfound status 403 404
            handle_response @notfound {
                rewrite * /{args[0]}/index.html
                reverse_proxy {args[1]} {
                    header_up Host "{args[1]}"
                }
            }
        }
    }
}

:5173 {
    import spa app localhost:9000
}

:5174 {
    import spa app localhost:9000
}

:8080 {
    reverse_proxy localhost:3000
}
